.floatThead-container-fishes {
  background-color: white;
}

body.dark{
  background-color: hsla(0, 0%, 15%, 1);
  color: white;
}

body.dark .ui.menu {
  background-color: black  !important;
  color: white !important;
}

body.dark .ui.menu .item{    
  color: white !important;
}

body.dark .ui.table thead th{
  color: white !important;        
}

body.dark .ui.selectable.table tbody tr:hover, 
body.dark .ui.table tbody tr td.selectable:hover{
  color: white !important; 
}

body.dark .ui.table{
  color: white !important;        
}

body.dark .ui.checkbox label{
  color:white;
}

body.dark table a{
  color: hsla(246, 100%, 26%, 1);
}

/* Style for active fish (unless caught or pinned) */
body.dark .ui.striped.table > tr.fish-entry.fish-active:hover:not(.fish-caught):not(.fish-pinned),
body.dark .ui.striped.table tbody tr.fish-entry.fish-active:hover:not(.fish-caught):not(.fish-pinned) {
  background-color: hsla(180, 60%, 50%, 0.8) !important;
}
/**/
body.dark .ui.striped.table > tr.fish-entry.fish-active:hover:nth-child(2n):not(.fish-caught):not(.fish-pinned),
body.dark .ui.striped.table tbody tr.fish-entry.fish-active:hover:nth-child(2n):not(.fish-caught):not(.fish-pinned) {
  background-color: hsla(180, 60%, 55%, 0.8) !important;
}
/**/
body.dark .ui.striped.table > tr.fish-entry.fish-active:not(.fish-caught):not(.fish-pinned),
body.dark .ui.striped.table tbody tr.fish-entry.fish-active:not(.fish-caught):not(.fish-pinned) {
  background-color: hsla(180, 60%, 25%, 0.8) !important;
}
/**/
body.dark .ui.striped.table > tr.fish-entry.fish-active:nth-child(2n):not(.fish-caught):not(.fish-pinned),
body.dark .ui.striped.table tbody tr.fish-entry.fish-active:nth-child(2n):not(.fish-caught):not(.fish-pinned) {
  background-color: hsla(180, 60%, 30%, 0.8) !important;
}


/**/
body.dark .ui.striped.table > tr.fish-entry.fish-active.fish-caught:hover,
body.dark .ui.striped.table tbody tr.fish-entry.fish-active.fish-caught:hover {
  background-color: hsla(150, 60%, 50%, 0.8) !important;
}
/**/
body.dark .ui.striped.table > tr.fish-entry.fish-active.fish-caught:hover:nth-child(2n),
body.dark .ui.striped.table tbody tr.fish-entry.fish-active.fish-caught:hover:nth-child(2n) {
  background-color: hsla(150, 60%, 55%, 0.8) !important;
}
/**/
body.dark .ui.striped.table > tr.fish-entry.fish-active.fish-caught,
body.dark .ui.striped.table tbody tr.fish-entry.fish-active.fish-caught {
  background-color: hsla(150, 60%, 25%, 0.8) !important;
}
/**/
body.dark .ui.striped.table > tr.fish-entry.fish-active.fish-caught:nth-child(2n),
body.dark .ui.striped.table tbody tr.fish-entry.fish-active.fish-caught:nth-child(2n) {
  background-color: hsla(150, 60%, 30%, 0.8) !important;
}


/* fish not pinned, caught, not active, hovered, odd*/
body.dark .ui.striped.table > tr.fish-entry.fish-caught:hover,
body.dark .ui.striped.table tbody tr.fish-entry.fish-caught:hover {
  background-color: hsla(120, 60%, 50%, 0.8) !important;
}
/* fish not pinned, caught, not active, hovered, even*/
body.dark .ui.striped.table > tr.fish-entry.fish-caught:hover:nth-child(2n),
body.dark .ui.striped.table tbody tr.fish-entry.fish-caught:hover:nth-child(2n) {
  background-color: hsla(120, 60%, 55%, 0.8) !important;
}
/* fish not pinned, caught, not active, not hovered, odd*/
body.dark .ui.striped.table > tr.fish-entry.fish-caught,
body.dark .ui.striped.table tbody tr.fish-entry.fish-caught {
  background-color: hsla(120, 60%, 25%, 0.8) !important;
}
/* fish not pinned, caught, not active, not hovered, even*/
body.dark .ui.striped.table > tr.fish-entry.fish-caught:nth-child(2n),
body.dark .ui.striped.table tbody tr.fish-entry.fish-caught:nth-child(2n) {
  background-color: hsla(120, 60%, 30%, 0.8)!important;
}


/* fish pinned, not caught, active, not hovered, odd*/
body.dark .ui.striped.table > tr.fish-entry.fish-active.fish-pinned:hover,
body.dark .ui.striped.table tbody tr.fish-entry.fish-active.fish-pinned:hover {
  background-color: hsla(350, 60%, 50%, 0.8) !important;
}
/* fish pinned, not caught, active, hovered, even*/
body.dark .ui.striped.table > tr.fish-entry.fish-active.fish-pinned:hover:nth-child(2n),
body.dark .ui.striped.table tbody tr.fish-entry.fish-active.fish-pinned:hover:nth-child(2n) {
  background-color: hsla(350, 60%, 55%, 0.8) !important;
}
/* fish pinned, not caught, active, not hovered, odd*/
body.dark .ui.striped.table > tr.fish-entry.fish-active.fish-pinned,
body.dark .ui.striped.table tbody tr.fish-entry.fish-active.fish-pinned {
  background-color: hsla(350, 60%, 25%, 0.8) !important;
}
/* fish pinned, not caught, active, not hovered, even*/
body.dark .ui.striped.table > tr.fish-entry.fish-active.fish-pinned:nth-child(2n),
body.dark .ui.striped.table tbody tr.fish-entry.fish-active.fish-pinned:nth-child(2n) {
  background-color: hsla(350, 60%, 30%, 0.8) !important;
}


/* fish not pinned, not caught, not active, hovered, odd*/
body.dark .ui.striped.table > tr.fish-entry:hover,
body.dark .ui.striped.table tbody tr.fish-entry:hover {
  background-color: hsla(245, 0%, 50%, 0.8) !important;
}
/* fish not pinned, not caught, not active, hovered, even*/
body.dark .ui.striped.table > tr.fish-entry:hover:nth-child(2n),
body.dark .ui.striped.table tbody tr.fish-entry:hover:nth-child(2n) {
  background-color: hsla(245, 0%, 55%, 0.8) !important;
}
/* fish not pinned, not caught, not active, not hovered, odd*/
body.dark .ui.striped.table > tr.fish-entry,
body.dark .ui.striped.table tbody tr.fish-entry {
  background-color: hsla(245, 0%, 25%, 1) !important;
}
/* fish not pinned, not caught, not active, not hovered, even*/
body.dark .ui.striped.table > tr.fish-entry:nth-child(2n),
body.dark .ui.striped.table tbody tr.fish-entry:nth-child(2n) {
  background-color: hsla(245, 0%, 30%, 1) !important;
}


body.dark .ui.striped.table > tr.section-divider:hover:not(.fish-entry),
body.dark .ui.striped.table tbody tr.section-divider:hover:not(.fish-entry),
body.dark .ui.striped.table > tr.section-divider:not(.fish-entry),
body.dark .ui.striped.table tbody tr.section-divider:not(.fish-entry) {
  background-color: hsl(0, 0%, 80%) !important;
}