/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .ui.ui.ui.container:not(.fluid) {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.ui.ui.grid.container {
    width: calc( 1127px  +  2rem ) !important;
  }

  .ui.ui.ui.relaxed.grid.container {
    width: calc( 1127px  +  3rem ) !important;
  }

  .ui.ui.ui.very.relaxed.grid.container {
    width: calc( 1127px  +  5rem ) !important;
  }
}
/* Even larger Monitor */
@media only screen and (min-width: 1500px) {
  .ui.ui.ui.container:not(.fluid) {
    width: 1427px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.ui.ui.grid.container {
    width: calc( 1427px  +  2rem ) !important;
  }

  .ui.ui.ui.relaxed.grid.container {
    width: calc( 1427px  +  3rem ) !important;
  }

  .ui.ui.ui.very.relaxed.grid.container {
    width: calc( 1427px  +  5rem ) !important;
  }
}

/* Overrides for Semantic UI 2.2.10 - Icon */
i.icon {
  /* margin: inherit; */
  margin: revert;
}

/* Overrides for Semantic UI 2.2.10 - Button */
.ui[class*="very compact"].buttons .button,
.ui[class*="very compact"].button {
  padding: 0.58928571em 0.58928571em 0.58928571em;
}

.ui[class*="very compact"].table > tr > th,
.ui[class*="very compact"].table > thead > tr > th,
.ui[class*="very compact"].table > tbody > tr > th,
.ui[class*="very compact"].table > tfoot > tr > th {
  padding: 0.2em 0.3em;
}

.ui[class*="very compact"].table > tr > td,
.ui[class*="very compact"].table > tbody > tr > td,
.ui[class*="very compact"].table > tfoot > tr > td {
  padding: 0.2em 0.3em;
}

[data-tooltip]:before {
  z-index: 1102;
}
[data-tooltip]:after {
  z-index: 1101;
}

[data-position="right center"][data-tooltip][data-variation="mini"]:before {
  margin-top: calc(-0.07142857rem * .75);
  margin-left: calc(0.14285714rem * .75);
}
[data-tooltip][data-variation="mini"]:before {
  width: calc(0.71428571em * .75);
  height: calc(0.71428571em * .75);
}
[data-tooltip][data-variation="mini"]:after {
  font-size: .78571429rem;
  line-height: calc(1.4285em * .75);
  padding: calc(0.833em * .75) calc(1em * .75);
}

.ui.labeled.icon.buttons > .button .icon i.flag:before,
.ui.labeled.icon.button .icon i.flag:before {
  margin-top: 35%;
  margin-left: 25%;
}

/* 
 * Reverts changes made in:
 * https://github.com/fomantic/Fomantic-UI/commit/1f7160203ee8a4c7c42dad2815113967571e97b9
 */

.ui.labeled.icon.buttons > .button > .icon:before,
.ui.labeled.icon.button > .icon:before,
.ui.labeled.icon.buttons > .button > .icon:after,
.ui.labeled.icon.button > .icon:after {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ui.button > .icon:not(.button) {
  height: 0.85714286em;
}

/*
 * Reverts changes made in:
 * https://github.com/fomantic/Fomantic-UI/commit/defb29e84339ca69f9f664e07000400b7bceb206
 */
.ui.button > .icon:not(.button) {
  vertical-align: middle;
}

.ui.button:not(.icon) > .icon:not(.button):not(.dropdown),
.ui.button:not(.icon) > .icons:not(.button):not(.dropdown) {
  vertical-align: middle;
}

.ui.button:not(.icon) > .icons:not(.button):not(.dropdown) > .icon {
  vertical-align: middle;
}

/*
 * Prevent transitions for select components.
 * This leads to performance hits when a lot of data is displayed.
 */

.ui.checkbox label,
.ui.checkbox + label {
  -webkit-transition: none !important;
  transition: none !important;
}

.ui.table th,
.ui.table td {
  -webkit-transition: none !important;
  transition: none !important;
}
/*
 * For inverted segments, make sure they don't move around...
 */
.ui.inverted.segment {
  padding: calc(1em + 1px);
}

.ui.ui.inverted.bordered.dropdown {
  border: 1px solid rgba(255,255,255,.15);
  background: #1b1c1d;
  color: rgba(255,255,255,.8);
}

.ui.ui.bordered.dropdown {
  line-height: 1em;
  white-space: normal;
  outline: 0;
  /* -webkit-transform: rotateZ(0);
  transform: rotateZ(0); */
  min-width: 14em;
  min-height: 2.71428571em;
  background: #fff;
  /* display: inline-block; */
  display: flex;
  padding: 0.78571429em 1em;
  color: rgba(0,0,0,.87);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 0.28571429rem;
  /* -webkit-transition: width .1s ease, -webkit-box-shadow .1s ease;
  transition: width .1s ease, -webkit-box-shadow .1s ease;
  transition: box-shadow .1s ease, width .1s ease;
  transition: box-shadow .1s ease, width .1s ease, -webkit-box-shadow .1s ease; */
}

.ui.ui.bordered.dropdown > .text {
  flex-grow: 1;
}


/*!
 * Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-brands-400.eot");
  src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-brands-400.woff2") format("woff2"), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-brands-400.woff") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-brands-400.ttf") format("truetype"), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

i.icon.discord:before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  content: "\f392";
}

i.icon.youtube:before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  content: "\f167";
}

/*!
 * Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-solid-900.eot");
  src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-solid-900.woff2") format("woff2"), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-solid-900.woff") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-solid-900.ttf") format("truetype"), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

i.icon.fish:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f578";
}
i.icon.cloud.sun.rain:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f743";
}


/* Overrides for Menu */
.ui.fixed.menu,
.ui.fixed.text.menu {
  background: #FFFFFF;
}
.ui.inverted.fixed.menu,
.ui.inverted.fixed.text.menu {
  background: #1B1C1D;
}

.ui.menu .ui.borderless.menu {
  border: 0px solid transparent;
  box-shadow: none;
}

.ui.menu [data-tooltip]:before {
  width: 0.71428571em;
  height: 0.71428571em;
}

.ui.menu .item[data-position~="top"][data-tooltip]:before {
  background: #FFFFFF;
}

.ui.menu .item[data-position="top right"][data-tooltip]:before {
  top: auto;
  right: 1em;
}

.ui.inverted.menu .item[data-inverted][data-position~="top"][data-tooltip]:before {
  background: #1B1C1D;
}

.ui.inverted.link.menu .item.disabled,
.ui.inverted.link.menu .item.disabled:hover {
  color: rgba(225, 225, 225, 0.3);
}

.ui.menu .item.hidden {
  display: none;
}

.ui.inverted.menu .ui.dropdown .menu {
  border: 0px solid transparent;
  background: #1B1C1D;
  box-shadow: none;
}

.ui.inverted.menu .ui.dropdown .menu > .item,
.ui.inverted.menu .ui.dropdown .menu > .item > a:not(.ui) {
  background: transparent;
  color: rgba(255, 255, 255, 0.9) !important;
}

.ui.inverted.menu .ui.dropdown .menu .item:before {
  background: rgba(255, 255, 255, 0.08) !important;
}

.ui.inverted.menu .ui.dropdown .menu > .item:hover {
  background: rgba(255, 255, 255, 0.08) !important;
  color: #ffffff !important;
}

.ui.inverted.menu .ui.dropdown .menu > .active.item {
  background: rgba(255, 255, 255, 0.15) !important;
  color: #ffffff !important;
}

.ui.flushed.modal {
  width: auto;
  max-width: 95%; /* don't exceed 95% of the width though... */
  margin-left: unset;
}

.modals.dimmer .ui.flushed.scrolling.modal {
  /* No really, I want it in the f'n center! */
  position: fixed !important;
  top: unset !important;
  margin-left: unset !important;
}

/* Popup */
.ui.inverted.popup {
  border: rgba(255, 255, 255, 0.15) solid 1px;
}

/* Scrollbar corner */

body ::-webkit-scrollbar-corner {
  display: none;
}

.ui.accordion.menu .item > .fitted.title,
.ui.accordion > .fitted.title,
.ui.accordion .accordion > .fitted.title {
  width: fit-content;
}

/*
 * Fix CDN path prior to Fomantic-UI 2.9.1
 * https://github.com/fomantic/Fomantic-UI/pull/2627/commits/b4cb85d07b007f13d1b378fe389cefab3dfd4e29
 */
i.flag.us::before,
i.flag.united.states::before,
i.flag.america::before {
  background-image: url("https://cdn.jsdelivr.net/gh/twitter/twemoji@latest/assets/svg/1f1fa-1f1f8.svg");
}

i.flag.jp::before,
i.flag.japan::before {
  background-image: url("https://cdn.jsdelivr.net/gh/twitter/twemoji@latest/assets/svg/1f1ef-1f1f5.svg");
}

i.flag.de::before,
i.flag.germany::before {
  background-image: url("https://cdn.jsdelivr.net/gh/twitter/twemoji@latest/assets/svg/1f1e9-1f1ea.svg");
}

i.flag.fr::before,
i.flag.france::before {
  background-image: url("https://cdn.jsdelivr.net/gh/twitter/twemoji@latest/assets/svg/1f1eb-1f1f7.svg");
}

i.flag.kr::before,
i.flag.south.korea::before {
  background-image: url("https://cdn.jsdelivr.net/gh/twitter/twemoji@latest/assets/svg/1f1f0-1f1f7.svg");
}
