/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .ui.container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc( 1127px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 1127px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 1127px  +  5rem ) !important;
  }
}
/* Even larger Monitor */
@media only screen and (min-width: 1500px) {
  .ui.container {
    width: 1427px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc( 1427px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 1427px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 1427px  +  5rem ) !important;
  }
}

/* Overrides for Semantic UI 2.2.10 - Icon */
i.icon {
  margin: inherit;
}

/* Overrides for Semantic UI 2.2.10 - Button */
.ui[class*="very compact"].buttons .button,
.ui[class*="very compact"].button {
  padding: 0.58928571em 0.58928571em 0.58928571em;
}

.ui[class*="very compact"].table th {
  padding: 0.2em 0.3em;
}

.ui[class*="very compact"].table td {
  padding: 0.2em 0.3em;
}

[data-tooltip]:before {
  z-index: 1102;
}
[data-tooltip]:after {
  z-index: 1101;
}

[data-position="right center"][data-tooltip][data-variation="mini"]:before {
  margin-top: calc(-0.07142857rem * .75);
  margin-left: calc(0.14285714rem * .75);
}
[data-tooltip][data-variation="mini"]:before {
  width: calc(0.71428571em * .75);
  height: calc(0.71428571em * .75);
}
[data-tooltip][data-variation="mini"]:after {
  font-size: .78571429rem;
  line-height: calc(1.4285em * .75);
  padding: calc(0.833em * .75) calc(1em * .75);
}

.ui.labeled.icon.buttons > .button .icon i.flag:before,
.ui.labeled.icon.button .icon i.flag:before {
  margin-top: 35%;
  margin-left: 25%;
}


/*
 * Prevent transitions for select components.
 * This leads to performance hits when a lot of data is displayed.
 */

.ui.checkbox label,
.ui.checkbox + label {
  -webkit-transition: none !important;
  transition: none !important;
}

.ui.table th,
.ui.table td {
  -webkit-transition: none !important;
  transition: none !important;
}
/*
 * For inverted segments, make sure they don't move around...
 */
.ui.inverted.segment {
  padding: calc(1em + 1px);
}


/*
 * Needed until we upgrade to Semantic UI 2.4 or later...
 */
@font-face {
  font-family: brand-icons;
  src: url(https://semantic-ui.com/dist/themes/default/assets/fonts/brand-icons.eot);
  src: url(https://semantic-ui.com/dist/themes/default/assets/fonts/brand-icons.eot?#iefix) format('embedded-opentype'),url(https://semantic-ui.com/dist/themes/default/assets/fonts/brand-icons.woff2) format('woff2'),url(themes/default/assets/fonts/brand-icons.woff) format('woff'),url(https://semantic-ui.com/dist/themes/default/assets/fonts/brand-icons.ttf) format('truetype'),url(https://semantic-ui.com/dist/themes/default/assets/fonts/brand-icons.svg#icons) format('svg');
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-decoration:inherit;text-transform:none}

i.icon.discord:before {
  font-family: brand-icons;
  content: "\f392";
}


/* Overrides for Menu */
.ui.fixed.menu,
.ui.fixed.text.menu {
  background: #FFFFFF;
}
.ui.inverted.fixed.menu,
.ui.inverted.fixed.text.menu {
  background: #1B1C1D;
}

.ui.menu [data-tooltip]:before {
  width: 0.71428571em;
  height: 0.71428571em;
}

.ui.menu .item[data-position~="top"][data-tooltip]:before {
  background: #FFFFFF;
}

.ui.menu .item[data-position="top right"][data-tooltip]:before {
  top: auto;
  right: 1em;
}

.ui.inverted.menu .item[data-inverted][data-position~="top"][data-tooltip]:before {
  background: #1B1C1D;
}
