<template name="hello">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">FFX|V Fish Tracker App</span>
      </div>
      <p class="navbar-text navbar-right"><b>Current Time:</b> {{eorzeaTime}} ({{earthTime}})</p>
    </div>
  </nav>
  <div class="container-fluid">
    <h1>FFX|V Fish Tracker App</h1>
    <p>
      This application tracks big fish, making it easy to spot hard-to-catch fish as they become available - <a target="#top" href="http://na.finalfantasyxiv.com/lodestone/character/221572/">Carbuncle Plushy</a> of Balmung.
    </p>
  </div>
</template>
