<template name="info">
  <div class="container-fluid">
<!--
    <h2><a data-toggle="collapse" href="#collapseWeather">Weather</a></h2>
    <div class="collapse" id="collapseWeather">
      {{#each regions}}
        {{> regionweather}}
      {{/each}}
    </div>
    <h2>Fish</h2>
 -->
    <div class="btn-toolbar" role="toolbar">
      <div id="filterCompletion" class="btn-group" role="group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="filterCompletion" data-filter="all" checked>all
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="filterCompletion" data-filter="caught">caught
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="filterCompletion" data-filter="uncaught">uncaught
        </label>
      </div>
    </div>
    <div style="margin-top: 2px;">Patch:</div>
    <div style="margin-bottom: 8px;" id="filterPatch" class="btn-toolbar" role="toolbar" data-toggle="buttons">
      <div class="btn-group" role="group">
        <label class="btn btn-sm btn-primary active">
          <input type="checkbox" name="filterPatch" data-filter="2" checked>2.0
        </label>
        <label class="btn btn-sm btn-primary active">
          <input type="checkbox" name="filterPatch" data-filter="2.1" checked>2.1
        </label>
        <label class="btn btn-sm btn-primary active">
          <input type="checkbox" name="filterPatch" data-filter="2.2" checked>2.2
        </label>
        <label class="btn btn-sm btn-primary active">
          <input type="checkbox" name="filterPatch" data-filter="2.3" checked>2.3
        </label>
        <label class="btn btn-sm btn-primary active">
          <input type="checkbox" name="filterPatch" data-filter="2.4" checked>2.4
        </label>
        <label class="btn btn-sm btn-primary active">
          <input type="checkbox" name="filterPatch" data-filter="2.5" checked>2.5
        </label>
      </div>
      <div class="btn-group" role="group">
        <label class="btn btn-sm btn-primary active">
          <input type="checkbox" name="filterPatch" data-filter="3" checked>3.0
        </label>
        <label class="btn btn-sm btn-primary active">
          <input type="checkbox" name="filterPatch" data-filter="3.1" checked>3.1
        </label>
        <label class="btn btn-sm btn-primary active">
          <input type="checkbox" name="filterPatch" data-filter="3.2" checked>3.2
        </label>
        <label class="btn btn-sm btn-primary active">
          <input type="checkbox" name="filterPatch" data-filter="3.3" checked>3.3
        </label>
        <label class="btn btn-sm btn-primary active">
          <input type="checkbox" name="filterPatch" data-filter="3.4" checked>3.4
        </label>
        <label class="btn btn-sm btn-primary active">
          <input type="checkbox" name="filterPatch" data-filter="3.5" checked>3.5
        </label>
      </div>
    </div>
    <div id="loadingAlert" class="alert alert-info fade in" role="alert">
      Loading... Please be patient while I forcast the weather and determine initial fish availability...
    </div>
    <!--<div id="chargingAvailRangeAlert" class="alert alert-info fade in" role="alert">
      <b>NOTE:</b> Progressively charging fish availability. Currently at {{currentAvailRangeLimit}}.
    </div>-->
    <table id="fishes" class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Availability</th>
          <th>Location</th>
          <th>Conditions</th>
          <th>Bait</th>
        </tr>
      </thead>
      <tbody>
        {{#each fishes}}
          {{> fish}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
